@font-face {
    font-family: 'Supercharge';
    src: url('./res/font/SuperchargeHalftone-6Y0Vq.otf') format('opentype');
}

.text {
	line-height: 1;
	margin: var(--gradient-title-margin) 0 0 0;
	text-transform: none;
	letter-spacing: 2px;
	min-height: 200px;
	display: flex;
	align-items: flex-end;
}

.text-above {
	color: var(--font-color);
	position: relative;
}

.text-under {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.text-under-blended {
	color: #3a3a3a;
	mix-blend-mode: color-burn;
}

.text-under-overlay {
	opacity: 0.2;
	color: #3a3a3a;
}

#gradient-canvas {
    width:100%;
    height:100%;
    --gradient-color-1: #29a9f3;
    --gradient-color-2: #3a3aff;
    --gradient-color-3: #ff61ab;
    --gradient-color-4: #E63946;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 100%)
}


.bold-title{
    font-family: 'Supercharge', sans-serif !important;
    transition: all 100ms ease;
    opacity: 0.95;
}

.bold-title:hover{
    transform: scale(1.01) rotate(1deg);
    opacity: 1;
}
  

/* TITLE */
.team-title{
	height: 100%;
	max-height: 200px;
	overflow: hidden;
}

.collapsed {
	height: 0 !important;
}